
*.ico
*.rar
*.json
*.pyc
*.stats
src/
main/data/
Programm/
*.pyc
*.zip
main/models/books_gpt/
main/models/dialog_gpt/
main/models/LSTMmodel.torch
.idea/
backend/.env
.env
*.sqlite3
*.exe
main/models/another_links.txt
